language: perl6

perl6:
  - latest

os:
  - linux
  - osx

fast_finish: true

sudo: false

before_install:
  - curl -L http://install.perlbrew.pl | bash
  - echo 'source ~/perl5/perlbrew/etc/bashrc' >> ~/.bash_profile
  - source ~/perl5/perlbrew/etc/bashrc
  - perlbrew install -Duseshrplib -n --noman -v --switch stable

install:
  - source ~/perl5/perlbrew/etc/bashrc
  - perl6 configure.pl6
  - make
